
# ---- Finn ----
ThatFinn <finn@thatfinn.dev> <finn@goebl.cc>
ThatFinn <finn@thatfinn.dev> <69632218+Finnlikecookies@users.noreply.github.com>
ThatFinn <finn@thatfinn.dev> <69632218+ThatFinnDev@users.noreply.github.com>

# ---- AureumApes ----
AureumApes <janundartur@gmail.com> <aureumapes@duck.com>
AureumApes <janundartur@gmail.com> <76166556+AureumApes@users.noreply.github.com>

# ---- PinkTarr ----
MadMinecraftr <thean.mcgarity@gmail.com> <thean.mcgarity@gmail.com>
MadMinecraftr <thean.mcgarity@gmail.com> <37884292+TheanMcGarity@users.noreply.github.com>
