name: SR2E Compilation

on:
  workflow_dispatch:
    inputs:
      SR2Ver-ManifestID:
        description: 'The Manifest ID for SR2 version'
        required: true
        default: '856213111485396824'
      SR2Ver-MLVer:
        description: 'The MelonLoader version'
        required: true
        default: '0.7.1'

env:
  DEP_ZIP_NAME: dependencies.zip

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v4

      - name: Setup .NET SDK 6
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: 1. Download Dependencies
        shell: bash
        run: |
          echo "Downloading dependencies from sr2e.sr2.api/sr2vers"

          # Use Basic Auth (-u) with secrets and custom headers (-H) with inputs
          curl -L -u "${{ secrets.USER }}:${{ secrets.PASSWORD }}" \
              -H "SR2Ver-ManifestID: ${{ github.event.inputs.SR2Ver-ManifestID }}" \
              -H "SR2Ver-MLVer: ${{ github.event.inputs.SR2Ver-MLVer }}" \
              "https://sr2e.sr2.api/sr2vers" \
              -o "${{ env.DEP_ZIP_NAME }}"

      - name: 2. Downloading script
        shell: bash
        run: |
          echo "Downloading workerscript"
          curl -L -u "${{ secrets.USER }}:${{ secrets.PASSWORD }}" \
              "https://api.sr2.sr2.dev/workerscript" \
              -o "workerscript.bash"
          chmod +x workerscript.bash

      - name: 3. Execute script
        run: bash ./workerscript.bash

      - name: 4. Find and Upload Project DLL Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SR2EssentialsMod_Debug_Artifacts
          path: FinalArtifacts/*.dll
